# General
node_modules/
dist/
logs/
.env
.env.*
!.env.example

# Python
venv/
env/
ENV/
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
db.sqlite3-journal

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo
